{% extends 'backend/base/admin_base.html' %}
{% load static %}
{% block title %}CREATE JOURNEY{% endblock title %}

{% block title_row %}<h3><b>Create New Journey</b></h3>{% endblock %}

{% block content %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    {% include 'backend/journey_form.html' %}
    
    <div class="row" style="margin-top: 40px;">
        <button class="btn btn-primary" type="submit" name="create_btn" style="width: 15%; margin-left: 10px;">Create</button>
    </div>
</form>

{% endblock content %}