{% load static %}

<div class="dropdown ms-sm-3 header-item topbar-user" style="background: none;border-left: solid 1px;border-color: darkgray;">
    {% if user != "AnonymousUser" %}
        <button type="button" class="btn" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="d-flex align-items-center">
                {% if user.ProfilePic %}
                    <img class="rounded-circle header-profile-user" src="{{user.ProfilePic.url}}" alt="Header Avatar">
                {% elif user == "AnonymousUser" %}
                    <img src="" alt="">
                {% else %}
                {% endif %}
                <span class="text-start ms-xl-2">
                    <span class="d-none d-xl-inline-block ms-1 fw-medium user-name-text">{{user.Name}}</span>
                    <span class="d-none d-xl-block ms-1 fs-12 user-name-sub-text">
                        {% if user.AccType %}
                            {{user.AccType}}
                        {% elif user.is_superadmin %}
                            Super Admin
                        {% elif user.is_admin %}
                            Admin
                        {% elif user.is_staff %}
                            Staff
                        {% else %}
                            Anonymous User
                        {% endif %}
                    </span>
                </span>
            </span>
        </button>
    {% endif %}
    <div class="dropdown-menu dropdown-menu-end">
        <!-- item-->
        <h6 class="dropdown-header">Welcome {% if user.is_authenticated %} {{user.Name}}! {% else %} , Login to check more {% endif %} </h6>
        {% if user.is_authenticated %}
            <a class="dropdown-item" href="{% url 'logout' %}"><i class="mdi mdi-logout text-muted fs-16 align-middle me-1"></i> <span class="align-middle" data-key="t-logout">Logout</span></a>
        {% else %}
            <a class="dropdown-item" href="{% url 'login_user' %}"><i class="mdi mdi-logout text-muted fs-16 align-middle me-1"></i> <span class="align-middle" data-key="t-logout">Login</span></a>
        {% endif %}
    </div>
</div>